.card-container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -150px;
  position: relative;
  height: 250px;
  width: 400px;
  .front {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 20px;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, blueviolet, deeppink);
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 0.4s ease-out;
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    .image {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      img {
        height: 50px;
      }
    }
    .card-number-box {
      padding: 30px 0;
      font-size: 22px;
      color: $white-color;
    }
    .flexbox {
      display: flex;
      .box:nth-child(1) {
        margin-right: auto;
      }
      .box {
        font-size: 15px;
        color: $white-color;
      }
    }
  }
  .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform 0.4s ease-out;
    .stripe {
      background: #000;
      width: 100%;
      margin: 10px 0;
      height: 50px;
    }
    .box {
      padding: 0 20px;
      span {
        color: #fff;
        font-size: 15px;
      }
      .cvv-box {
        height: 50px;
        padding: 10px;
        margin-top: 5px;
        color: #333;
        background: #fff;
        border-radius: 5px;
        width: 100%;
      }
      img {
        margin-top: 30px;
        height: 30px;
      }
    }
  }
}

.form-payment {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  display: inline-block;
  padding-top: 160px;
  .inputBox {
    margin-top: 20px;
    span {
      display: block;
      color: #999;
      padding-bottom: 5px;
    }
    input,
    select {
      width: 100%;
      border-radius: 10px;
      padding: 10px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      color: #444;
    }
  }

  .flexBox {
    display: flex;
    gap: 15px;
    .inputBox {
      flex: 1 1 150px;
    }
  }

  .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s linear;
    outline: none;
    border: none;
    border-radius: 10px;
    &:hover {
      letter-spacing: 2px;
      opacity: 0.8;
    }
    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
}

.spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.spinner:before,
.spinner:after {
  position: absolute;
  content: "";
}

.spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
