.slider {
  background-image: $background-color-slider;
  background-color: $blue-color;
  padding: 40px;
  .custom-slider-container {
    padding: 0px 100px;
    .slider-title {
      color: $white-color;
      width: 488px;
      .title {
        line-height: 28px;
        font-size: $font-size-large;
        font-weight: 700;
      }
      .description {
        font-size: $font-size-comman;
        line-height: 24px;
      }
    }
    .slider-img {
      border-radius: 8px;
    }
  }
}
